{% extends 'base.html' %}

{% block content %}
<style>
    .text-right {
        text-align: right;
    }
    .table {
        direction: rtl;
    }
    .table th, .table td {
        text-align: right;
    }
    .table thead th {
        background-color: #236ee8; /* Header background color */
        color: white; /* Text color for header */
    }
    .table-hover tbody tr:hover {
        background-color: #e0e0e0; /* Hover effect color */
    }
    .badge-primary { background-color: #007bff; }
    .badge-secondary { background-color: #6c757d; }
    .badge-success { background-color: #28a745; }
    .badge-danger { background-color: #dc3545; }
    .badge-warning { background-color: #ffc107; }
    .badge-info { background-color: #17a2b8; }
    .badge-light { background-color: #f8f9fa; color: #212529; }
    .badge-dark { background-color: #343a40; }
    .badge { color: white; padding: 0.5em 0.75em; border-radius: 0.25em; }

    .search-field {
        width: 300px; /* Adjust the width as needed */
    }
</style>

{% if user.is_authenticated %}

<div class="shadow p-3 mb-5 text-primary-emphasis bg-light-subtle border border-light-subtle rounded-3">
    <h1>רשימת מועמדים</h1>
</div>

<div class="text-right mb-3">
    <a class="btn btn-success" href="{% url 'add_record' %}">
        <i class="bi bi-person-plus-fill"></i>
        רישום מועמד
    </a>

    <a class="btn btn-info" href="{% url 'export_csv' %}">
        <i class="bi bi-cloud-download"></i>
        CSV
    </a>
</div>

<div class="text-right mb-3">
    <form id="search-form" method="get" action="{% url 'search_records' %}" class="d-flex">
        <input type="text" value="{{ request.GET.q }}" name="q" class="form-control search-field mr-2" placeholder="חיפוש..." id="search-field" />
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i> חפש
        </button>
    </form>
</div>

<div id="table-container">
    {% include 'partials/records_table.html' %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault();
            var form = $(this);
            var url = form.attr('action'); // Ensure the action attribute points to the correct URL
            var params = form.serialize(); // Serialize form data
    
            console.log("Sending AJAX request to:", url + '?' + params);
    
            $.ajax({
                url: url,
                type: 'GET',
                data: params,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                },
                success: function(response) {
                    console.log("Response received:", response);
                    $('#table-container').html(response); // Replace table container content with response HTML
                    console.log("Table container updated");
                },
                error: function(xhr, status, error) {
                    console.error("Request failed. Status:", status, "Error:", error);
                }
            });
        });
    });
    
</script>


{% else %}
<div class="col-md-6 offset-md-3">
    <h1>Index</h1>
    <br/>
    <form method="POST" action="{% url 'Home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="user_name" placeholder="שם משתמש" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="סיסמה" required>
        </div>
        <button type="submit" class="btn btn-primary">כניסה</button>
    </form>
</div>
{% endif %}

{% endblock %}
